<footer>
    <div class="container-fluid footer-div">
        <div class="text-center">
            <a href="https://github.com/mbellucio"><i class="fa-brands fa-github fa-3x footer-icons"></i></a>
            <a href="https://www.linkedin.com/in/matheusbellucio/?locale=en_US"><i class="fa-brands fa-linkedin-in fa-3x footer-icons"></i></a>
            <a href="https://www.instagram.com/matheusbellucio/"><i class="fa-brands fa-instagram fa-3x footer-icons"></i></a>
        </div>
        <div class="text-center">
            <p class="copyright-text">Matheus Bellucio © 2022</p>
        </div>
    </div>
</footer>