{% include "header.html" %}


<body>

    <section>
        <div class="container-fluid section1">
            <div class="title-div text-center">
                <h1 class="title">HI, I'M MATHEUS</h1>
                <p class="title"><b>A PYTHON FULL STACK DEVELOPER</b></p>
            </div>
            <div class="text-center propic-div">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEZvbOm9c4eEA/profile-displayphoto-shrink_800_800/0/1655852066200?e=1675296000&v=beta&t=z0U9e04CHDydSNapEZduTQcrXnP96E5HgHD3RjGWMRo" class="propic">
            </div>
            <div class="text-center">
                <img src="static/images/main.png" class="class-pic">
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid section2 text-center">
            <div class="transition-div">
                <h3 class="title">THE PYTHON LIBRARIES I USE</h3>
            </div>
            <div>
                <button class="btn text-normal btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <strong>CHECK LIBRARIES</strong>
                </button>
            </div>
            <div class="collapse container-fluid" id="collapseExample">
              <div class="card card-body" style="color: #FBFACD;">
                    <table class="table table-hover table-borderless">
                        <tbody>
                            <tr>
                                <td>Flask</td>
                                <td>jinja2</td>
                            </tr>
                            <tr>
                                <td>beautifulSoup</td>
                                <td>Selenium</td>
                            </tr>
                            <tr>
                                <td>SQLalchemy</td>
                                <td>numpy</td>
                            </tr>
                            <tr>
                                <td>pandas</td>
                                <td>matplotlib</td>
                            </tr>
                            <tr>
                                <td>plotly</td>
                                <td>seaborn</td>
                            </tr>
                        </tbody>
                    </table>
              </div>
            </div>
            <div>
                <i class="fa-solid fa-code"></i>
            </div>
            <div>
                <h3 class="title">ABOUT ME</h3>
            </div>
            <div class="container-fluid">
                <div class="aboutme-div container-fluid">
                    <p class="text-normal aboutme-text">
                        <b>
                            I'm a self-taught Python developer with a 
                            passion for programming and the 
                            troubleshooting that comes with it. 
                            I have a dream to make an impact in 
                            the field of technology and make the 
                            world a better place by developing 
                            solutions to real world problems.
                        </b>
                    </p>
                </div>
            </div>
            <div>
                <i class="fa-solid fa-code"></i>
            </div>
            <div>
                <h3 class="title">CONTACT ME</h3>
            </div>
            <div class="container-fluid">
                <a href="mailto:mbelluciocoding@gmail.com"><i class="fa-solid fa-envelope fa-5x contact-me"></i></a>
            </div>
            <div>
                <i class="fa-solid fa-code last-hr"></i>
            </div>
        </div>
    </section>

</body>


{% include "footer.html" %}

